@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* @media screen {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  max-height: 999999px;
}

.main {
  width: 100%;
}


.hero-content-main {
  width: 100%;
}

@media screen and (min-width: 1800px) {
  .hero-content-main {
    margin: auto;
    width: 110rem;
  }
}

.hero-content-secondary {
  width: 100%;
}

@media screen and (min-width: 1800px) {
  .hero-content-secondary {
    margin: auto; 
    width: 100rem;
  }
}


html {
  font-family: sans-serif;
}

.main-in {
  width: 100%;
}

.main-ini {
  width: 100%;
}

@media screen and (min-width: 1550px) {
  .main-ini {
    width: 90rem;
  }
}

.main-init {
  width: 100%;
}

@media screen and (min-width: 2000px) {
  .main-init {
    width: 80rem;
  }
}

.main-lay {
  width: 100%;
}

@media screen and (min-width: 2200px) {
  .main-lay {
    width: 90rem;
  }
}

.main-faq {
  width: 100%;
}

@media screen and (min-width: 1800px) {
  .main-faq {
    width: 90rem;
  }
}

.main-offer {
  width: 100%;
}

@media screen and (min-width: 1500px) {
  .main-offer {
    width: 90rem;
  }
}

.main-background {
  width: 100%;
  margin: auto;
  height: 75vh;
}

@media screen and (min-width: 1600px) {
  .main-background {
    height: 45rem;
  }
}



@keyframes openDrop {
  from {
   height: 0;
  }
  to {
    height: 13rem;
  }
}

.open-drop{
  animation-name: openDrop;
  animation-duration:0.5s;
}

.main-bg {
  width: 100%;
  margin: auto;
  height: 90vh;
}

@media screen and (min-width: 1600px) {
  .main-bg {
    height: 45rem;
  }
}

.news-hero {
  width: 100%;
  margin: auto;
  height: 80vh;
}

@media screen and (max-width: 1024px) {
  .news-hero {
    height: auto;
  }
}

@media screen and (min-width: 1600px) {
  .news-hero {
    height: 45rem;
  }
}

@media screen and (min-width: 2200px) {
  .main-hero {
    width: 100vw;
  }
}

.main-hero {
  width: 100%;
  margin: auto;
  height: 98vh;
}

@media screen and (max-width: 1024px) {
  .main-hero {
    height: auto;
  }
}

@media screen and (min-width: 1600px) {
  .main-hero {
    height: 45rem;
  }
}

@media screen and (min-width: 2200px) {
  .main-hero {
    width: 100vw;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    width: 85%;
  }
}

@media screen and (min-width: 1800px) {
  .main {
    width: 80rem;
  }
}
@keyframes slideInFromLeftt {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRightt {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-from-left {
  animation: slideInFromLeftt 0.5s ease-in-out 0.8s forwards;
}
.animate-slide-in-from-left1 {
  animation: slideInFromRightt 0.5s ease-in-out 0.8s forwards;
}

@keyframes slideInFromLeft {
  from {
    transform: translateY(60%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes poster {
  0% {
    transform: scale(0);
    display: none;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    display: block;
    opacity: 1;
  }
}



.poster{
  animation: poster 0.5s ease-in-out 0.8s forwards ;
}

.animate-letters {
  color: rgb(255, 255, 255);
}
.animate-1 {
  animation: slideInFromLeft 0.5s ease-in-out 1.2s forwards;
}

.animate-slide-in-from-right {
  animation: slideInFromRight 0.3s ease-in-out 0.5s forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-from-bottom {
  animation: slideInFromBottom 0.5s ease-in-out 0.1s forwards;
  transition: transform 0.3s ease-in-out;
}

.animate-slide-in-from-bottom:hover {
  transform: translateY(0) scale(1.05);
}

.v-m-left {
  animation: slideInFromLeft 1.5s ease-in-out 0.5s forwards;
}

.v-m-right {
  animation: slideInFromRight 1.5s ease-in-out 0.5s forwards;
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(40%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.arrow-right {
  position: relative;
}

.arrow-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #a0aec0;
  transform: translateY(-50%);
}

.arrow-right:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 9px solid #fff;
  transform: translateY(-50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 1s linear infinite;
}

/* .glowing-text {
  text-shadow: #880303;
} */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-icons {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}

.glowing-background {
  background-color: rgba(18, 14, 94, 0.5);
  box-shadow: -20px -5px 90px 45px rgba(18, 14, 94, 0.6);
}

/* CSS */

/* When the link is hovered, target the <hr> element */
.link:hover hr {
  width: 100%;
}

textarea {
  resize: none;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.small-text-shadow {
  text-shadow: 2px 2px 2px rgb(37, 37, 37, 0.8);
}

@keyframes slide-in {
  from {
    transform: translateX(-1000%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-from-left-0 {
  display: inline-block;
  animation: slide-in 0.6s ease-in-out 0s forwards;
}

.slide-from-left-1 {
  display: inline-block;
  animation: slide-in 0.6s ease-in-out 0s forwards;
}
.slide-from-left-2 {
  display: inline-block;
  animation: slide-in 0.6s ease-in-out 0s forwards;
}

.slide-from-left-3 {
  display: inline-block;
  animation: slide-in 0.6s ease-in-out 0s forwards;
}

.slide-from-left-4 {
  display: inline-block;
  animation: slide-in 0.6s ease-in-out 0s forwards;
}
.slide-from-left-5 {
  display: inline-block;
  animation: slide-in 0.6s ease-in-out 0s forwards;
}

.slide-from-left-6 {
  display: inline-block;
  animation: slide-in 0.6s ease-in-out 0s forwards;
}

.slide-from-left-7 {
  display: inline-block;
  animation: slide-in 0.6s ease-in-out 0s forwards;
}
.slide-from-left-8 {
  display: inline-block;
  animation: slide-in 0.6s ease-in-out 0s forwards;
}
.slide-from-left-9 {
  display: inline-block;
  animation: slide-in 0.6s ease-in-out 0s forwards;
}

.slide-from-left-10 {
  display: inline-block;
  animation: slide-in 0.6s ease-in-out 0s forwards;
}
.slide-from-left-11 {
  display: inline-block;
  animation: slide-in 0.6s ease-in-out 0s forwards;
}
.slide-from-left-12 {
  display: inline-block;
  animation: slide-in 0.6s ease-in-out 0s forwards;
}
.slide-from-left-13 {
  display: inline-block;
  animation: slide-in 0.6s ease-in-out 0s forwards;
}

.circle-shadow {
  box-shadow: 0px 0px 10px #1f4283;
}

.circular {
  box-shadow: 0px 0px 10px 10px #1f4283;
}

.handle-width {
  max-width: 80rem;
  margin: auto;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(0px, 10rem);
  }
  66% {
    transform: translate(0px, -10rem);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes blob-1 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30rem, 0px) scale(1.1);
  }
  66% {
    transform: translate(-30rem, 0rem) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes blob-2 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(-10rem, 10rem) scale(1.1);
  }
  66% {
    transform: translate(10rem, -20rem) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes blob-about {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blob-offer {
  0% {
    transform: translate(0rem, 0rem);
  }
  50% {
    transform: translate(0rem, 1rem);
  }
  100% {
    transform: translate(0rem, 0rem);
  }
}

.animation {
  animation: blob 15s infinite;
}

.animation-1 {
  animation: blob-1 50s infinite;
}

.animation-2 {
  animation: blob-2 40s infinite;
}

.animation-about {
  animation: blob-about 6s infinite;
}

.animation-offer {
  animation: blob-offer 4s infinite;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-in {
  animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show-testimonial {
  animation: show 1s ease-in-out forwards;
}

@keyframes glow-inf {
  0% {
    box-shadow: 0px 0px 20px 10px rgba(6, 147, 192, 0.8);
  }
  50% {
    box-shadow: 0px 0px 30px 18px rgba(6, 147, 192, 0.8);
  }
  100% {
    box-shadow: 0px 0px 20px 10px rgba(6, 147, 192, 0.8);
  }
}

.glow {
  animation: glow-inf 4s infinite;
}

.animate-hero {
  animation: scaling 1.5s ease-in;
}

.animate-hero-image {
  animation: scaling 1.5s ease-in;
}

@keyframes scaling {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes nav {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.animate-nav {
  animation: nav 0.5s ease-in 0.5s;
}

.animation-loading {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
